version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: constructor-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: constructor-backend
    ports:
      - "8000:8000"
    restart: unless-stopped
